In [6]:
import numpy as np
import pandas as pd
data=pd.read_excel('water_source.xlsx')
data.head()

      source_id type_of_water_source  number_of_people_served
0  AkHa00000224          tap_in_home                      956
1  AkHa00001224   tap_in_home_broken                      930
2  AkHa00002224   tap_in_home_broken                      486
3  AkHa00003224                 well                      364
4  AkHa00004224   tap_in_home_broken                      942